# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules
dist
dist-electron
build

# Optional npm cache directory
.npm

# Output of the `npm pack` command
*.tgz

# dotenv environment variable files
.env
.env.local
.env.*.local

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode
*.swp
*.swo
*~

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

# Build files
dist/
build/

# Test coverage
coverage/
.nyc_output/

# NestJS specific
typeorm.config.ts
.env
package-lock.json
